# =========================
# BACKEND VARIABLES
# =========================
ENV_MODE=development
NODE_ENV=development
APP_PORT=5000
API_PREFIX=/api

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=bank
DB_SYNCHRONIZE=false
DB_LOGGING=true

JWT_SECRET=dev_jwt_secret_for_test_task_only
JWT_EXPIRES_IN=1h

CORS_ORIGIN=http://localhost:3000

COOKIE_NAME=ub_access_token
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=lax
COOKIE_SECURE=false

# =========================
# FRONTEND VARIABLES
# =========================
NEXT_PUBLIC_APP_NAME=UB LMS
NEXT_PUBLIC_API_URL=http://localhost:5001/api
BACKEND_INTERNAL_URL=http://localhost:5001/api